$main_color:#D9EEC9;

@mixin desktop {
    @media (max-width:1280px) {
        @content
    }
}

@mixin desktop-top {
    @media (max-width:1023px) {
        @content
    }
}

@mixin desktop-below {
    @media (max-width:1024px) {
        @content
    }
}

@mixin pad {
    @media (max-width:767px) {
        @content
    }
}

@mixin iphone {
    @media (max-width:568px) {
        @content
    }
}

@mixin mobile480 {
    @media (max-width:480px) {
        @content
    }
}

@mixin iphone5 {
    @media (max-width:320px) {
        @content
    }
}

* {
    box-sizing: border-box;

}

html,
body {
    font-size: 16px;
    font-family: 'Noto Sans TC', 'Open Sans', sans-serif;
    background-color: $main_color;
    font-size: 16px;
    transition: all .5s;
    position: relative;
}

a {
    display: block;
    text-decoration: none;
    color: #000;
}

img {
    display: block;
}

.d-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: space-between;
}

.main_page {
    position: relative;
    margin-top: 125px;
    margin-left: 345px;
    z-index: 1;

    @include pad() {
        margin-left: 0;
    }

    @include iphone() {
        padding: 0 20px;
    }
}

h2 {
    font-family: 'Open Sans', 'Noto Sans TC', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 50px;
    color: transparent;
    -webkit-text-stroke: 1px #000;

    @include iphone() {
        font-size: 32px;
        text-align: center;
    }
}
